.scraper-box{
    font-size: 3.5rem;
    width: 40rem;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 1px #777;
    margin-top: 10rem;
    border-radius: 0.3rem;
}

.box-title p{
    text-align: center;
    background-color: #f0ad4e;
    color: white;
    padding: 1rem;
}

.box-form{
    padding: 3rem;
    padding-top: 1.5rem;
    background-color: #ddd;
}


/* file input */
.custom-file-input{
    text-align: center;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    display: flex;
}

.custom-file-input::before {
    content: 'Select csv file';
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-size: 2rem;
    margin-top: 3rem;

}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

